@{
    ViewBag.Title = "Medical Necessities";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="w3-container tablecontainer dashboardDiv" id="necessity-tab">
    <div class="w3-center w3-dark-gray">
        <h2>Medical Necessities</h2>
    </div>
    <div class="w3-row w3-padding-16">

        <div class="w3-row w3-padding-16">
            @Html.ActionLink("+ Add Necessity", "Save", "Necessities", new { id = 0 }, new { @class = "popup w3-btn w3-green" })
        </div>
        <div class="w3-responsive">
            <table class="w3-table-all w3-hoverable" id="NecessitiesDataTable">
                <thead>
                    <tr>
                        <th>Disease ID</th>
                        <th>ICD10Code</th>                        
                        <th>Description</th>
                        <th>Created</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @*Table Content Appends Here*@
                </tbody>

            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/date.format.js"></script>

    <script>
        $(document).ready(function () {
            var oTable = $("#NecessitiesDataTable").DataTable({
                "ajax": {
                    "url": '/Necessities/GetNecessities',
                    "type": 'get',
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID", "autoWidth": true },
                    { "data": "ICD10Code", "autoWidth": true },
                    { "data": "Description", "autoWidth": true },
                    {
                        "data": "Created", "autoWidth": true, "render": function (data) {
                            var date = new Date(parseInt(data.substr(6)));
                            var sdate = date.format("mmm d, yyyy");
                            return sdate;
                        }
                    },
                   
                    {
                        "data": "ID", "render": function (data) {
                            return '<a class="popup w3-btn w3-orange" href="/Necessities/save/' + data + '">Edit<a>';
                        }
                    },
                    {
                        "data": "ID", "render": function (data) {
                            return '<a class="popup  w3-btn w3-red" href="/Necessities/delete/' + data + '">Delete<a>';
                        }
                    }
                ]
            });

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'), oTable, "Medical Necessities");
            });
        });
    </script>
}



