<h2>Step 6 Content</h2>
Order Form / Supper Bill
@using (Html.BeginForm("ConvertPatientToPdf", "Patients", FormMethod.Post, new { id = "convertForm" }))
{
    <div id="convertAboutPageButtonDiv">
        <input type="submit" value="Convert To PDF" />
    </div>
}

@*<div class="w3-row  w3-margin-top">
    <input class="w3-btn-block w3-green" type="submit" value="Save" />
</div>*@