<div class="w3-row w3-light-gray">
    <h2>Patient Profile</h2>
    @if (Model != null && Model.objPatient != null && Model.objPatient.FirstName != null)
    {
        <div class="w3-row w3-margin-top">
        <b>Patient Name :</b>
         <span>@Model.objPatient.FirstName @Model.objPatient.LastName</span>
    </div>
    <div class="w3-row w3-margin-top">
        <b>Patient Gender :</b>
        <span>@Model.objPatient.Gender</span>
    </div>
    <div class="w3-row w3-margin-top">
        <b>Patient DOB :</b>
        <span>@Model.objPatient.DOB</span>
    </div>
    }
</div>