<div class="w3-container physician-signature dashboardDiv" id="physician_signature">

    <h2>physician Signature</h2>
    <div>
        <div><label>Please enter password</label></div>
        <div>
            <input type="hidden" id="physcianApproalDataText" />
              <input type="password" name="physiciasnSignature" id="physiciasn_Signature" />
            <p id="signaturePasswordError" style="font-size:large;color:red;display:none">Please enter the correct password</p>
        </div>
    </div>
    <div class="w3-row  w3-margin-top">
        <button class="w3-btn-block w3-green" id="approvedPhysicianForm" type="button">Save</button>
    </div>
    </div>
<script src="~/Scripts/Wizard/jquery.smartWizard.min.js"></script>
<script type="text/javascript">
    //submission form -------physician-----------
    var physicianRemarks = "";
    $(document).ready(function () {
        $(document).find("#signaturePasswordError").css("display", "none");
        $('#click_approveButton').removeAttr("href");
        $("#physcianApproalDataText").val($(document).find("#physicianRemarksValue").val());
        physicianRemarks = $(document).find("#physicianRemarksValue").val();
    });
                $(document).find('#approvedPhysicianForm').on('click', function (e) {
                    var pHistoryId = $("#pHistoryId").val();
                    var physiciasnSignature = $("#physiciasn_Signature").val();
                    var parentForm = $(this).parent().parent().attr('id');
                    if (physiciasnSignature !== undefined && physiciasnSignature !== null && physiciasnSignature !== "") {
                        $.ajax({
                            type: "POST",
                            enctype: "multipart/form-data",
                            url: "/Patients/physicianSignature/?pHistoryId=" + pHistoryId + "&physiciasnSignature=" + physiciasnSignature,
                            success: function (data) {
                                if (data) {
                                    // $("#savephysicianData").css('display', 'block');                               
                                    $(".ui-dialog-titlebar-close").trigger("click");
                                    //var physicianRemarks = $("#physcianApproalDataText").val();
                                    $.ajax({
                                        type: "POST",
                                        url: "/Patients/PhysicianApproval/?pHistoryId=" + pHistoryId + "&physicianRemarks=" + physicianRemarks,
                                        // data: $('#' + parentForm).serialize(),
                                        success: function (Data) {
                                            if (Data.status) {
                                                alert("success");
                                                $("#Approvedbyphysician").css('display', 'block');
                                                $("#Approvedbyphysician").text("Approve by " + Data.namePhyscian)
                                                $("#physicianRemarksTextBox").css('display', 'none');
                                                setTimeout(function () {
                                                    $(".sw-btn-next").removeClass("disabled");
                                                    $(".sw-btn-next").css("pointer-events", "auto");
                                                }, 10);
                                            }
                                        },
                                        error: function () {
                                            $(document).find("#signaturePasswordError").css("display", "block");
                                        }

                                    })
                                }
                            }
                        })
                    } else { $(document).find("#signaturePasswordError").css("display", "block"); }
                });
                </script>