<div class="w3-container tablecontainer-patient dashboardDiv" id="physician_signature">

    <h2>physician Signature</h2>
    <div>
        <div><label>Please enter password</label></div>
        <div>
            <input type="password" name="physiciasnSignature" />
        </div>
    </div>
    <div class="w3-row  w3-margin-top">
        <button class="w3-btn-block w3-green" id="approvedPhysicianForm" type="button">Save</button>
    </div>
    </div>
