@model EMedicalSolution.ViewModels.patientIntakeViewModel
<h2>Step 2 Content</h2>

    @if (Model != null && Model.objProcedureType != null)
    {
        foreach (var procedure in Model.objProcedureType)
        {
          
        <input class="w3-radio procedure_Type" type="checkbox" name="procedureType" value=@procedure.ID checked />
                   @procedure.Title
            <br /> 
        }
 
    }
