@model EMedicalSolution.ViewModels.patientIntakeViewModel
<h3>Procedure Types</h3>
@{ string pType = "0";}
@using (Html.BeginForm("procedureTypes", "Patients", FormMethod.Post, new { id = "procedureTypes", @class="w3-row" }))
{
    if (Model != null && Model.PatientProceduresVM1 != null)
        {
        foreach (var procedure in Model.PatientProceduresVM1)
        {
        if (procedure.HistoryID > 0)
        {
        pType = "1";
        <input type="hidden" value="@pType" id="next_button_toggle_1" />
        <input class="w3-check procedure_Type" type="checkbox" name="procedureType" value=@procedure.ID checked required />
        @procedure.Title
        }
        else {
        <input class="w3-check procedure_Type" type="checkbox" name="procedureType" value=@procedure.ID required />
        @procedure.Title
        }

        <br />
        }
    }
     <div class="ajax_loader_save" style="display:none;margin-top: -180px; margin-left: 300px;"><img src="~/Images/ajax_loader.png" /></div>
        <p id="procedureError" class="saveError" style="font-size:large;color:red;display:none">Please select at least one option</p>
        <div class="w3-row w3-margin-top">
            <div class="w3-third" style="float: none; margin: auto">
                <button class="w3-btn-block w3-green submitForm" type="button">Save</button>
            </div>
        </div>
        <br />
}
