@model EMedicalSolution.ViewModels.patientIntakeViewModel
<h2>Step 2 Content</h2>
@using (Html.BeginForm("procedureTypes", "Patients", FormMethod.Post, new { id = "procedureTypes" }))
{
    if (Model != null && Model.objProcedureType != null)
    {
        foreach (var procedure in Model.objProcedureType)
        {

        <input class="w3-radio procedure_Type" type="checkbox" name="procedureType" value=@procedure.ID  />
                   @procedure.Title
            <br />
        }
    }
    <div class="w3-row  w3-margin-top">
        <button class="w3-btn-block w3-green submitForm" type="button">Save</button>
    </div>
}
