<h2>Step 7 Content</h2>
Result Interpretation by Specialist
@using (Html.BeginForm("resultInterpretation", "Patients", FormMethod.Post, new { id = "resultInterpretation" }))
{
    <div class="pre-scrollable"> 
           
        <div id="specialistRemarksTextBox">
            @if (Model != null && Model.PatientHistoryVM11 != null && Model.PatientHistoryVM11.isApprovedBySpecialist != null && Model.PatientHistoryVM11.isApprovedBySpecialist == true && Model.StaffNameVM != null && Model.StaffNameVM.SpecialistName != null)
            {
                <div class="w3-panel w3-hover-blue w3-light-blue w3-round-xxlarge">
                    <h3>Specialist Approval</h3>
                    <p>Approve by Dr. @Model.StaffNameVM.SpecialistName </p>
                    <p><strong>Remarks:</strong> @Model.StaffNameVM.SpecialistRemarks</p>
                </div>
            }
            else {
                <label>Specialist Remarks:</label>
                <input type="text" name="specialistRemarks" id="specialistRemarksValue" />
                <div class="ajax_loader_save" style="display:none;margin-top: -180px; margin-left: 300px;"><img src="~/Images/ajax_loader.png" /></div>
                <p id="specialistRemarksError" class="saveError" style="font-size:large;color:red;display:none">Please enter remarks.</p>
                <div class="w3-row  w3-margin-top">
                    <div class="w3-third" style="float: none; margin: auto">
                        <button class="w3-btn-block w3-green" id="saveSpecialistData" type="button">Save</button>
                    </div>
                </div>
            }
        </div>
        <h2 id="ApprovedbySpecialist" style="display:none">Approve by [Specialist Name]</h2>
  </div>   
    @*<input type="submit" value="Convert To PDF" />*@
   
    }
<script>

    //submission form -------start-----------
    $(document).find('#saveSpecialistData').on('click', function (e) {
        $(document).find(".saveError").css("display", "none");
        var pHistoryId = $("#pHistoryId").val();
        var specialistRemarks = $("#specialistRemarksValue").val();
        if (specialistRemarks !== undefined && specialistRemarks !== null && specialistRemarks !== "") {
            $(".ajax_loader_save").css("display", "block");
            $.ajax({
                type: "POST",
                url: "/Patients/resultInterpretation/?pHistoryId=" + pHistoryId + "&specialistRemarks=" + specialistRemarks,
                // data: $('#' + parentForm).serialize(),
                success: function (data) {
                    console.log(data);
                    if (data) {
                        // alert("success");
                        $(".ajax_loader_save").css("display", "none");
                        $(document).find(".saveError").css("display", "none");
                        $(document).find("#saveSpecialistData").css("display", "none");
                        
                        $("#ApprovedbySpecialist").css('display', 'block');
                        $("#specialistRemarksTextBox").css('display', 'none');
                    }
                }
            })
        } else { $(document).find(".saveError").css("display", "block"); }
    });
</script>