<h2>Step 7 Content</h2>
Result Interpretation by Specialist
@using (Html.BeginForm("resultInterpretation", "Patients", FormMethod.Post, new { id = "resultInterpretation" }))
{
    <div class="pre-scrollable">       
 
    <div><label>Specialist Remarks:</label></div>
        @if (Model.PatientHistoryVM11 != null && Model.PatientHistoryVM11.SpecialistRemarks != null && Model.PatientHistoryVM11.SpecialistRemarks != "")
        {
            <input type="text" name="specialistRemarks" value="@Model.PatientHistoryVM11.SpecialistRemarks" />  }
        else {
            <input type="text" name="specialistRemarks" />
        }
</div>   
    @*<input type="submit" value="Convert To PDF" />*@
    <div class="w3-row  w3-margin-top">
        <button class="w3-btn-block w3-green submitForm" type="button">Save</button>
    </div>
    }
