<h2>Step 8 Content</h2>
Result Interpretation by Specialist
@using (Html.BeginForm("resultInterpretation", "Patients", FormMethod.Post, new { id = "resultInterpretation" }))
{
    <div class="pre-scrollable">

        <div id="specialistRemarksTextBox">
            @if (Model != null && Model.PatientHistoryVM11 != null && Model.PatientHistoryVM11.isApprovedBySpecialist != null && Model.PatientHistoryVM11.isApprovedBySpecialist == true && Model.StaffNameVM != null && Model.StaffNameVM.SpecialistName != null)
            {
                <input type="hidden" id="r_loadedValue" value="@Model.StaffNameVM.SpecialistRemarks" />

                <div class="w3-panel w3-hover-blue w3-light-blue w3-round-xxlarge">
                    <h3>Specialist Approval</h3>
                    <p>Approve by Dr. @Model.StaffNameVM.SpecialistName </p>
                    <p>
                        <strong>Remarks:&nbsp;</strong> @Model.StaffNameVM.SpecialistRemarks
                        @if (Session["role"] != null && Session["role"].ToString() == "3") //2 for specialist
                    {<span class="update_specialist_resean_btn" style="padding-left:10px;"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Update specialist remarks"></i></span>}
                    </p>
                </div>
            }
            else {
                if (Session["role"] != null && Session["role"].ToString() == "3") //3 for specialist
                {
                    <label>Specialist Remarks:&nbsp;</label><br />
                    <div>
                        <textarea rows="4" cols="56" type="text" name="specialistRemarks" class="specialistRemarksValue"> </textarea>
                    </div>
                    <div class="ajax_loader_save" style="display:none;margin-top: -180px; margin-left: 300px;"><img src="~/Images/ajax_loader.svg" /></div>
                    <div id="specialistRemarksError" class="saveError" style="font-size:large;color:red;display:none;float:left">Please enter remarks.</div>

                    <div class="w3-row">
                        <div class="w3-twothird w3-right">
                            <button class="w3-btn w3-orange" id="saveSpecialistData" type="button">Approve</button>
                        </div>
                    </div>
                } // If role end
                else
                {
                    <p class="w3-text-red w3-margin-top">Approval required by Specialist</p>
                }

                @*<div class="w3-row  w3-margin-top">
                        <div class="w3-third" style="float: none; margin: auto">
                            <button class="w3-btn-block w3-green" id="saveSpecialistData" type="button">Save</button>
                        </div>
                    </div>*@
            }
        </div>


        @if (Session["role"] != null && Session["Name"] != null && Session["role"].ToString() == "3")  //Specialist id 3
        {
            <div class="w3-panel w3-hover-blue w3-green w3-round-xxlarge" id="ApprovedbySpecialist" style="display:none">
                <h3>Specialist Remarks:&nbsp;</h3>
                <p>Approve by Dr. @Session["Name"].ToString() </p>
                <p><strong>Remarks:&nbsp;</strong><span id="sp_name"> </span><span class="update_specialist_resean_btn" style="padding-left:10px;"><i class="fa fa-pencil-square-o" aria-hidden="true" title="Update specialist remarks"></i></span></p>
            </div>
            <div class="update-specialist-remarks hidden" style="height:220px;">
                <label>Specialist Remarks:&nbsp;</label><br />
            <div>
            <textarea rows="4" cols="56" type="text" name="specialistRemarks" class="specialistRemarksValue_update"> </textarea>
        </div>
                <div class="ajax_loader_save" style="display:none;margin-top: -180px; margin-left: 300px;"><img src="~/Images/ajax_loader.svg" /></div>
                <p id="specialistRemarksError" class="saveError" style="font-size:large;color:red;display:none;float:left;">Please enter remarks.</p>

                <div class="w3-row">
                    <div class="w3-twothird w3-right">
                        <button class="w3-btn w3-orange" id="specialist_approveButton_update" type="button">Update</button>
                    </div>
                </div>
            </div>
        }
    </div>
    @*<input type="submit" value="Convert To PDF" />*@

}
<script>

    //submission form -------start-----------
    $(document).find('#saveSpecialistData').on('click', function (e) {
        $(document).find(".saveError").css("display", "none");
        var pHistoryId = $("#pHistoryId").val();
        var specialistRemarks = $(".specialistRemarksValue").val();
        if (specialistRemarks.trim() !== undefined && specialistRemarks.trim() !== null && specialistRemarks.trim() !== "") {
            $(".ajax_loader_save").css("display", "block");
            $.ajax({
                type: "POST",
                url: "/Patients/resultInterpretation/?pHistoryId=" + pHistoryId + "&specialistRemarks=" + specialistRemarks,
                // data: $('#' + parentForm).serialize(),
                success: function (data) {
                    console.log(data);
                    if (data) {
                        toastr.success("Data save successfully!");
                        $(".ajax_loader_save").css("display", "none");
                        $(document).find(".saveError").css("display", "none");
                        $(document).find("#saveSpecialistData").css("display", "none");
                        $(document).find(".specialistRemarksValue").val("");
                        $("#ApprovedbySpecialist").css('display', 'block');
                        $("#sp_name").text(specialistRemarks);
                        
                        $("#specialistRemarksTextBox").css('display', 'none');
                    }
                },
                error: function ($data) {
                    toastr.error("Error, The request can not be completed due to some error!");
                }
            })
        } else { $(document).find(".saveError").css("display", "block"); }
    });
    //update remarks
    $('.update_specialist_resean_btn').on('click', function (e) {
        $(document).find(".update-specialist-remarks").removeClass("hidden");
        $(this).parents("div").eq(0).css("display", "none");
        $(document).find(".specialistRemarksValue").val("");
        $(document).find(".specialistRemarksValue_update").val("");

    });

    $('#specialist_approveButton_update').on('click', function (e) {
        var val_upd = $(document).find(".specialistRemarksValue_update").val();
        if (val_upd.trim() !== undefined && val_upd.trim() !== null && val_upd.trim() !== "") {
               //edit specialist remarks
            $(document).find(".saveError").css("display", "none");
        var pHistoryId = $("#pHistoryId").val();
        var specialistRemarks = $(".specialistRemarksValue_update").val();
        if (specialistRemarks !== undefined && specialistRemarks !== null && specialistRemarks !== "") {
            $(".ajax_loader_save").css("display", "block");
            $.ajax({
                type: "POST",
                url: "/Patients/resultInterpretation/?pHistoryId=" + pHistoryId + "&specialistRemarks=" + specialistRemarks,
                // data: $('#' + parentForm).serialize(),
                success: function (data) {
                    toastr.success("Data save successfully!");
                    if (data) {
                        // alert("success");
                        $(".ajax_loader_save").css("display", "none");
                        $(document).find(".saveError").css("display", "none");
                        $(document).find("#saveSpecialistData").css("display", "none");
                        $(document).find(".update-specialist-remarks").addClass("hidden");
                        $("#ApprovedbySpecialist").css('display', 'block');
                        $(document).find(".specialistRemarksValue_update").val("");
                        $("#sp_name").text(specialistRemarks);
                        $("#specialistRemarksTextBox").css('display', 'none');
                       }
                },
                error: function ($data) {
                    toastr.error("Error, The request can not be completed due to some error!");
                }
            })
        } else { $(document).find(".saveError").css("display", "block"); }

        } else {
            $(document).find(".saveError").css("display", "block");
            $('#specialist_approveButton_update').removeAttr("href");
        }
    });
</script>