<h3>Upload Reports</h3>
@using (Html.BeginForm("UploadReports", "Patients", FormMethod.Post, new { id = "UploadReports" }))
{
    <div class="w3-row w3-margin-bottom" id="add-prescription">
        <div class="w3-row">
            <div class="input_fields_wrap">
                <input type="file" class="js-upload-files" name="filePath" id="[0].filePath" />
                <input type="text" class="js-files-title" name="filetitle" id="[0].filetitle" />
                <button class="add_field_button w3-btn w3-cyan">+ Add More</button>
            </div>
            <div class="w3-row w3-margin-top">
                <div class="w3-third" style="float: none; margin: auto">
                    <button class="w3-btn-block w3-green" id="addPatientReport" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Uploaded Reports</div>
        <input type="hidden" value="0" id="next_button_toggle_3" />
        <table class="table" id="reportsDataTable" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Download</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}
@*addPatientReport*@

<style>
    .input_fields_wrap input {
        display: inline;
        margin: 0 8px !important;
        padding: 6px !important;
    }
</style>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/date.format.js"></script>

<script>
    $(document).ready(function () {
        var pHistoryId = $("#pHistoryId").val();
        if (pHistoryId !== undefined && pHistoryId !== null && pHistoryId !== "") {
            var oReportTable = $("#reportsDataTable").DataTable({
                "ajax": {
                    "url": '/Patients/GetReports/?pHistoryId=' + pHistoryId,
                    "type": 'get',
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Title", "autoWidth": true },
                    {
                        "data": "FilePath", "render": function (data) {
                            var filename = data.split('\\').pop();
                            return '<span class="fa fa-download">  <a  href="/Patients/DownloadTestReport/?fileName=' + filename + '">  Download<a></span>';
                        }
                    },
                    {
                        "data": "Created", "autoWidth": true, "render": function (data) {
                            if (data !== undefined) {
                                $("#next_button_toggle_3").val("1");
                            } else {
                                $("#next_button_toggle_3").val("0");
                            }
                            var date = new Date(parseInt(data.substr(6)));
                            var sdate = date.format("mmm d, yyyy");
                            return sdate;
                        }
                    }
                ]
            });
        }
    });
</script>
