<h2>Step 4 Content</h2>
<div class="w3-row w3-margin-bottom" id="add-prescription">
    <div class="w3-half">
        <div class="editor-label">
            <label>Test Report</label>
        </div>
        <div class="input_fields_wrap">
            <div>
                <input type="file" name="[0].filePath" id="filePath" />
            </div>
            <button class="add_field_button w3-btn w3-cyan">+ Add More</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">My Details</div>
    <table class="table">
        <tbody>
            <tr>
                <th>Name:</th>
                <td>Tim Smith</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>example@example.com</td>
            </tr>
        </tbody>
    </table>
</div><div class="w3-row  w3-margin-top">
    <input class="w3-btn-block w3-green" type="submit" value="Save" />
</div>