@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
    <link href="~/Content/w3.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody();
    </div>
</body>
</html>
